# this files will be ignored by Dockerfile
# for exmaple if we had a command COPY . . 
# this woudl copy evertyhing except what is in this file

# Git
.git
.gitignore
# Docker
.docker

# Ignore other files or directories not relevant to Docker build
*.log
*.swp
.DS_Store

# Ignore files and directories specific to React frontend
app/build
app/dist
app/node_modules

# enviroments
# for files
.env
.venv
# for directories
.env/
.venv/
env/
venv/
ENV/
